<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>SQL query results</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Tendances pour l'état : {{ selected_state }}</h1>

        <button class="return-button" onclick="location.href='/'">Accueil</button>
        <form method="get" action="/state-trend" >
            <label>Choisir un autre état</label>
            <select name="selected-state">
                {% for state in state_list %}
                    <option>{{ state }}</option>
                {% endfor %}
            </select>
            <button type="submit">
                Choisir
            </button>
        </form>

        <h2>Nombre de sièges gagnés par parti</h2>
        {{ seat_evolution|safe }}

        <h2>Évolution de la part des votes</h2>
        {{ vote_share_evolution|safe }}



    </body>
</html>