<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>SQL query results</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Tendances pour l'état : {{ selected_state }}</h1>

        <button class="return-button" onclick="location.href='/'">Accueil</button>

        <h2>Nombre de sièges gagnés par parti</h2>
        {{ seat_evolution|safe }}

{#        <h2>Évolution de la part du vote national de chacun des deux partis</h2>#}
{#        {{ vote_share_evolution|safe }}#}
{##}
{#        <h2>Évolution du nombre d’états ayant une majorité d’élus d’un parti ou de l’autre</h2>#}
{#        {{ state_evolution|safe }}#}

    </body>
</html>