<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Projet Élections</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Statistiques sur les élections US (1976-2020)</h1>
        <h2>DU Camille & NG Thibault</h2>

        <div class="query-container">
            <div class="button-container">
                <h2>Requêtes basiques</h2>
                <form class="query-buttons" method="get">
                    <button type="submit" formaction="http://localhost:5000/persons">
                        Afficher la liste des personnes
                    </button>
                    <button type="submit" formaction="http://localhost:5000/year">
                        Afficher la liste des années
                    </button>
                    <button type="submit" formaction="http://localhost:5000/candidates">
                        Afficher la liste des candidats avec nom des personnes et des parties
                    </button>

                <h2>Requêtes pré-calculées</h2>
                    <button type="submit" formaction="http://localhost:5000/trend">
                        1] Grandes tendances
                    </button>
                    <button type="submit" formaction="http://localhost:5000/candidate-by-name">
                        2]Afficher la liste des candidats avec pour nom de famille :
                    </button>
                        <input type="text" name="input-name" placeholder="Nom ou prénom">
                    <button type="submit" formaction="http://localhost:5000/evolve-vote-1">
                        3]Afficher l'évolution des votes par Etat par Partie :
                    </button>
                        <select name="input-state">
                            {% for row in results %}
                                <option>{{ row[1] }}</option>
                            {% endfor %}
                        </select>
                    <button type="submit" formaction="http://localhost:5000/write-in">
                        4] Succès involontaire
                    </button>
                    <button type="submit" formaction="http://localhost:5000/map">
                        Afficher la carte
                    </button>
                </form>
            </div>

            <h2>Requête personnalisée</h2>
            <div class="form-container">
                <form method="post" action="http://localhost:5000/custom-query">
                    <textarea name="query" rows="10" cols="80"></textarea>
                    <input type="submit" name="submit" value="Envoyer">
                </form>
            </div>
        </div>
    </body>
</html>
